<html ng-app="datos2">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>filtrar datos con angularjs</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs//angular.js"></script> -->
  <script src="angular.min.js" charset="utf-8"></script>
</head>
<body>
  <input type="text" ng-model='buscarFruta' placeholder="Filtre su fruta">
  <div ng-controller='filtroDatos'>
    <ul>
      <li ng-repeat='el in frutas | filter: buscarFruta | orderBy: "+nombre"'>
        <h2>{{el.nombre}}</h2>
        <p>Propiedades: {{el.propiedades}} | color: {{el.color}}</p>
      </li>
    </ul>
  </div>

  <script type="text/javascript">
    var app = angular.module('datos2',[]);

    app.controller('filtroDatos', function($scope){
      $scope.frutas = [
        {
          nombre:'Naranja',
          color:'anaranjado',
          propiedades:'vitamina c'
        },
        {
          nombre:'Banana',
          color:'amarillo',
          propiedades:'Rico en magnesio y potasio'
        },
        {
          nombre:'Manzana',
          color:'roja',
          propiedades:'antioxidantes'
        }
      ];
    });

  </script>
  <!-- <script src="scripts/app.js" charset="utf-8"></script>
  <script src="scripts/controllers/expressions.js" charset="utf-8"></script> -->
</body>
</html>
